

$background: #212121;
$secondary: #191919;
$text_title: #ffffff;
$text_par: #aaaaaa;
$button_bg: #d9d9d9;
$button_text: #222222;
$accent: #1369F2;

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
font-size: 40px;
}

h2 {
font-size: 25px;
}

p {
font-size: 14px;
}