.footer {
    overflow: hidden;
    background-color: $secondary;
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 5%;
    color: $text_title;
    display: flex;
    justify-content: center;
}